.note {
	display: flex;
	padding: 0;
	width: 45vw;
	min-width: 300px;
	max-width: 500px;
	margin: 25px auto 0 auto;
	transition: all 0.2s ease-in;
}

.note:hover {
	box-shadow: 1px 1px 5px #ccc;
}

.note-content {
	width: 90%;
	padding: 10px;
	overflow: hidden;
}

.note-sidebar {
	opacity: 0;
	width: 50px;
	padding: 0;
	margin: 0;
	margin-right: 10px;
	position: relative;
	top: 0px;
	right: 0px;
	transition: all 0.1s ease-in;
}

.note-sidebar button:first-child {
	margin-top:20px;
}

.note-sidebar button {
	margin-bottom: 15px;
	border-radius: 25px;
	float: right;
	height: 50px;
	width: 50px;
}

.note:hover > .note-sidebar {
	opacity: 1;
}

#new-note-box {
	height: 75px;
	border-radius: 5px;
}

#new-note-box, #new-note-ta {
	transition: height 0.1s ease-in-out;
}

#new-note-box:hover, #new-note-ta:hover {
	height: 85px;
}

#new-note-box:focus, #new-note-ta:focus {
	height: 200px;
}

#new-note-ta {
	width: 100%;
	height: 100%;
	resize: none;
	border-radius: 5px;
}
